extends index 

block content
    section.section-sc
        .container
            p.subheading Shopping Cart
            h2.heading-secondary I don&apos;t know just some text
            if products !== undefind 
                .sc-container
                    .sc-info-container
                        .sc-info
                            p.sc-info__total-price
                                | Total Price: 
                                span $#{productsTotal.total}
                            p.sc-info__discount
                                | Discount: 
                                span $#{productsTotal.discount}
                            p.sc-info__final-price
                                | Final Price: 
                                span $#{productsTotal.final}
                        button.check-out-btn.btn Check Out
                    .sc-products
                        ul.sc-products-list
                            each product in products
                                li.sc-product
                                    img.sc-product__img(src=`/img/products/${product.image}` alt=`${product.title}`)
                                    h3.heading-tertiary #{product.title}
                                    p.sc-product__price $#{product.price}
                                    .amount
                                        i.ph-fill.ph-arrow-square-left.arrow
                                        input#amount(type='number' min='0' max='99' maxlength='2' value=`${product.quantity}` placeholder='1')
                                        i.ph-fill.ph-arrow-square-right.arrow
                                    p.sc-product__total $#{product.price * product.quantity}
                                    button.sc-product__btn
                                        ion-icon(name='close-outline')
            else 
                p Your Shopping Cart is empty